<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="welcome-container">
        <h1>Welcome to the <span>Currency Converter!</span></h1>
        <p>Convert currencies with real-time rates</p>

        <!-- زر أنيق للانتقال إلى صفحة المحول -->
        <a href="/converter" class="converter-btn">Go to Converter</a>
    </div>

    <audio id="money-audio" autoplay>
        <source src="{{ url_for('static', filename='audio/money.mp3') }}" type="audio/mpeg">
    </audio>

    <script src="{{ url_for('static', filename='js/welcome.js') }}"></script>
</body>

</html>